# Core
pandas==2.2.2
numpy==1.26.4

# Machine Learning
scikit-learn==1.4.2
xgboost==2.0.3

# Time Series
prophet==1.1.5

# Visualization
matplotlib==3.8.4
seaborn==0.13.2

# Database
sqlalchemy==2.0.30
pymysql==1.1.1

# Utilities
python-dotenv==1.0.1
pyarrow==15.0.2

# Jupyter
jupyterlab==4.1.8
ipykernel==6.29.4